.searchPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.searchBarWrapper {
    margin-top: 30px;
}

.listWrapper{
   margin-top: 20px;
}

.historyButtonWrapper {
   margin-top: 30px;
}

.searchButton {
    height: 30px;
    margin-left: 10px;
}